html {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
  background-color: #002b36;
}

h1,h2,h3,h4,h5,h6 {
  margin: 3em 0 1em;
}

p,ol,ul {
  margin-bottom: 2em;
  color: #586e75;
  font-family: sans-serif;
}

a {
    color: #b58900;
}

.cyan {
    color: #2aa198;
}

.magenta {
    color: #d33682;
}

.yellow {
    color: #b58900;
}

.blue {
    color: #268bd2;
}
